
.portfolio {
    text-align: center;
    margin-top: 50px;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.portfolio h2 {
    font-weight: 500;
    color: #072a58;
    font-size: 50px;

}

/* images */
img {
    border: 5px solid #072a58;
     border-radius: 50%;
     width: 23%;
     height: auto;
     margin-top: 10px;
     margin-bottom: 10px;
    }

    /* portfolio cards */
.g-4 {
    /* display: flex; */
    justify-content: center;
    gap: 10px;
  }