
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #F2E5E5 !important;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.home-page {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/* .skills {
 
} */

li {
  list-style: none;
}

.Footer {
  margin-top: 50px;
}

/* portfolio cards */
.g-4 {
  /* display: flex; */
  justify-content: center;
 gap: 5px;

}

/* profile image */
img {
border: 5px solid #CE7777;
 border-radius: 50%;
 width: 20%;
 height: auto;
}


/* .project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16rem;
  height: 20rem;
  gap: 5px; 
} */