
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #e6f4f5 !important;
}

/* App.js */

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

/* * home */

.home-page {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/* .skills {
 
} */

li {
  list-style: none;
}

/* profile image */
img {
  border: 5px solid #3d5a80;
   border-radius: 50%;
   width: 20%;
   height: auto;
  }
  

.Footer {
  margin-top: 100px;
}

/** portfolio */

/* portfolio cards */
.g-4 {
  /* display: flex; */
  justify-content: center;
  gap: 10px;


}





/* .project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16rem;
  height: 20rem;
  gap: 5px; 
} */